body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    background-color: #f9f9f9;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

footer {
    margin-top: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;
}
